{% extends 'base.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block body %}
    <h1>RendezVous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>DateRendezVous</th>
                <td>{{ rendez_vou.dateRendezVous ? rendez_vou.dateRendezVous|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ rendez_vou.idClient.getClient()}}</td>
            </tr>
            <tr>
                <th>Collaborateur</th>
                <td>{{rendez_vou.idCollaborateur.getCollaborateur()}}</td>
            </tr>
            <tr>
                <th>Prestation</th>
                <td>{{rendez_vou.idPrestation.getPrestation()}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rendez_vous_index') }}">back to list</a>

    <a href="{{ path('rendez_vous_edit', {'id': rendez_vou.id}) }}">edit</a>

    {{ include('rendez_vous/_delete_form.html.twig') }}
{% endblock %}
