{% extends 'base.html.twig' %}

{% block title %}Listing utilisateur{% endblock %}

{% block body %}

	<div id="main-wrapper">
		<div class="container">
			<h1 class="mb-2">Liste des utilisateurs :</h1>

			<table class="table_responsive_mobile mt-3">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Rôles</th>
                <th>Mot de passe</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td  data-label="Identifiant">{{ user.login }}</td>
                <td  data-label="Rôles">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td  data-label="Mot de passe">{{ user.password }}</td>
                <td data-label="Action">
                    <a href="{{ path('user_control_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_control_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
   		</table>
			<div class="container mt-5">
				<div class=" d-flex flex-row row align-items-start">
					<div class="col text-center">
						<a href="{{ path('user_control_new') }}">
							<button class="button">Créer utilisateur</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
