{% extends 'base.html.twig' %}

{% block title %}Listing prestation
{% endblock %}

{% block body %}
	<div id="prestation-wrapper">
		<div class="container">
			<h1 class="mb-2">Liste des prestations :</h1>

			<table class="table">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Temps</th>
						<th>Coût (HT)</th>
						<th>Description</th>
						<th>Type prestation</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for prestation in prestations %}
						<tr>
							<td>{{ prestation.nom }}</td>
							<td>{{ prestation.tempsRealisation }}</td>
							<td>{{ prestation.coutHT }}</td>
							<td>{{ prestation.description }}</td>
							<td>{{ prestation.typePrestation }}</td>
							<td>
								<a href="{{ path('prestation_show', {'id': prestation.id}) }}">Voir</a>
								<a href="{{ path('prestation_edit', {'id': prestation.id}) }}">Éditer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">Aucune prestation</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="container mt-5">
				<div class=" d-flex flex-row row align-items-start">
					<div class="col text-center">
							<a href="{{ path('prestation_new') }}">
						<button class="button">Créer nouvelle prestation</button>
						</a>
					</div>

				</div>
			</div>

		</div>
	</div>

{% endblock %}
