{{ form_start(form) }}

{# nom #}

{# label #}
{{ form_label(form.nom, 'Nom :', {'label_attr': {'class': 'foo' }}
) }}


{# input #}
{{ form_widget(form.nom) }}

{# Prénom #}

{# label #}
{{ form_label(form.prenom, 'Prénom :', {'label_attr': {'class': 'foo' }}
) }}


{# input #}
{{ form_widget(form.prenom) }}

{# datePremiereSaisie #}

{# label #}
{{ form_label(form.datePremiereSaisie, 'Date de première saisie :', {'label_attr': {'class': 'foo' }}
) }}


{# input #}
{{ form_widget(form.datePremiereSaisie) }}

{# adresse #}

{# label #}
{{ form_label(form.adresse, 'Adresse :', {'label_attr': {'class': 'foo' }}
) }}


{# input #}
{{ form_widget(form.adresse) }}

{# typeVehicule #}

{# label #}
{{ form_label(form.typeVehicule, 'Type de véhicule :', {'label_attr': {'class': 'foo' }}
) }}



{# input #}
{{ form_widget(form.typeVehicule) }}

{# plaqueImmat #}

    {# label #} {{ form_label(form.plaqueImmat, "Plaque d'immatriculation :", {'label_attr': {'class': 'foo' }}) }}
    {# input #}{{ form_widget(form.plaqueImmat) }}
    
    
    <div class="col-md-12  text-center"><button class="mt-5">
        {{ button_label|default('Enregistrer') }}
    </button>
</div>
{{ form_end(form) }}
