{% extends 'base.html.twig' %}

{% block title %}Collaborateur index{% endblock %}

{% block body %}
    <h1>Collaborateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>DateNaissance</th>
                <th>DateEntreeEntreprise</th>
                <th>NumSecuriteSocial</th>
                <th>TypeContrat</th>
                <th>DateHeureDerniereConnexion</th>
                <th>DureeTravailHebdo</th>
                <th>Login</th>
                <th>MotDePasse</th>
                <th>IsAdmin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collaborateur in collaborateurs %}
            <tr>
                <td>{{ collaborateur.nom }}</td>
                <td>{{ collaborateur.prenom }}</td>
                <td>{{ collaborateur.dateNaissance ? collaborateur.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ collaborateur.dateEntreeEntreprise ? collaborateur.dateEntreeEntreprise|date('Y-m-d') : '' }}</td>
                <td>{{ collaborateur.numSecuriteSocial }}</td>
                <td>{{ collaborateur.typeContrat }}</td>
                <td>{{ collaborateur.dateHeureDerniereConnexion ? collaborateur.dateHeureDerniereConnexion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ collaborateur.dureeTravailHebdo }}</td>
                <td>{{ collaborateur.login }}</td>
                <td>{{ collaborateur.motDePasse }}</td>
                <td>{{ collaborateur.isAdmin ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('collaborateur_show', {'id': collaborateur.id}) }}">show</a>
                    <a href="{{ path('collaborateur_edit', {'id': collaborateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('collaborateur_new') }}">Create new</a>
{% endblock %}
