{% extends 'base.html.twig' %}

{% block title %}Collaborateur{% endblock %}

{% block body %}
    <h1>Collaborateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collaborateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ collaborateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ collaborateur.prenom }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ collaborateur.dateNaissance ? collaborateur.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateEntreeEntreprise</th>
                <td>{{ collaborateur.dateEntreeEntreprise ? collaborateur.dateEntreeEntreprise|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NumSecuriteSocial</th>
                <td>{{ collaborateur.numSecuriteSocial }}</td>
            </tr>
            <tr>
                <th>TypeContrat</th>
                <td>{{ collaborateur.typeContrat }}</td>
            </tr>
            <tr>
                <th>DateHeureDerniereConnexion</th>
                <td>{{ collaborateur.dateHeureDerniereConnexion ? collaborateur.dateHeureDerniereConnexion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DureeTravailHebdo</th>
                <td>{{ collaborateur.dureeTravailHebdo }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ collaborateur.login }}</td>
            </tr>
            <tr>
                <th>MotDePasse</th>
                <td>{{ collaborateur.motDePasse }}</td>
            </tr>
            <tr>
                <th>IsAdmin</th>
                <td>{{ collaborateur.isAdmin ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('collaborateur_index') }}">back to list</a>

    <a href="{{ path('collaborateur_edit', {'id': collaborateur.id}) }}">edit</a>

    {{ include('collaborateur/_delete_form.html.twig') }}
{% endblock %}
