<!-- Header -->
<div id="header-wrapper">
	<header id="header" class="container">

		<a id="logo" href="{{path("home")}}">
			<img src="{{ asset('images/logo.png') }}" alt="" class="logoDesktop"/>
			<img src="{{ asset('images/libelle.png') }}" alt="" class="libelleDesktop"/>
		</a>


		<nav id="nav">
			<ul id="menu">
				<li>
					<a class="" href="{{path("home")}}">Accueil</a>
				</li>
				<li>
					<a class="" href="{{path("nos_prestations")}}">Prestations</a>
				</li>
				
				{# <li>
					<a  class="" href="#">Gestion</a>
					<ul>
						<li><a href="#">Nos clients</a></li>
						<li><a href="#">Mes collaborateurs</a></li>
						<li><a href="{{path("prestation_index")}}">Nos prestations</a></li>
						<li><a href="{{path("content_index")}}">Contenu du site</a></li>
						<li><a href="#">Dernières connexions</a></li>
						<li><a href="#">Mon compte</a></li>
					</ul>
				</li> #}

				<li>
					<a class="" href="{{path("contact")}}">Contact</a>
				</li>
				{# <li class="">
						<a href="{{path("contact")}}">Agenda</a>
					</li> #}
				<li class="current">
					<a class="" href="{{path("app_login")}}">Connexion</a>
				</li>
			</ul>
		</nav>
	</header>
</div>

{# <script>
	const hiddenInput = document.getElementById('pageActive')
    const pageActive = hiddenInput.value
	const lis = document.querySelectorAll('li');

lis.forEach((li) => {

    const link = li.getElementsByTagName("a");

    var menu = link[0].innerHTML

    if (menu == pageActive ){
        link[0].className += "actif";
        console.log("actif")
    }else{
        console.log("non actif")
    }
    
});
</script> #}
