<div id="features-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-4 col-4-medium col-4-small">
                <section class="box feature">
                    <a href="#" data-toggle="modal" data-target="#myModal_ImageUne" class="image featured">
                        <img src="{{ asset('images/premiere.png') }}" alt="" />
                    </a>
                </section>
            </div>

            <div class="col-4 col-4-small">
                <section class="box feature">
                    <a href="#" data-toggle="modal" data-target="#myModal_ImageDeux" class="image featured">
                        <img src="{{ asset('images/deuxieme.png') }}" alt="" />
                    </a>
                </section>
            </div>

            <div class="col-4 col-4-small">
                <section class="box feature">
                    <a href="#" data-toggle="modal" data-target="#myModal_ImageTrois" class="image featured">
                        <img src="{{ asset('images/troisieme.png') }}"
                            id="" alt="" />
                    </a>

                </section>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal_ImageUne" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Piston & Boulon votre référent Révision</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nulla at turpis ultrices suscipit. Aliquam luctus ac ante in maximus. Sed porttitor urna id eros imperdiet, in luctus nulla varius. Nunc quis mollis nunc. Cras eu dignissim nisl. Ut tempor gravida eleifend. Nunc volutpat diam nec purus faucibus lobortis.
            </div>
            <img src="{{ asset('images/premiere.png') }}" alt="" />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal_ImageDeux" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Piston & Boulon votre référent Mécanique</h4>
            </div>
            <div class="modal-body">
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nulla at turpis ultrices suscipit. Aliquam luctus ac ante in maximus. Sed porttitor urna id eros imperdiet, in luctus nulla varius. Nunc quis mollis nunc. Cras eu dignissim nisl. Ut tempor gravida eleifend. Nunc volutpat diam nec purus faucibus lobortis.
            </div>
            <img src="{{ asset('images/deuxieme.png') }}" alt="" />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal_ImageTrois" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Piston & Boulon votre référent Peinture</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nulla at turpis ultrices suscipit. Aliquam luctus ac ante in maximus. Sed porttitor urna id eros imperdiet, in luctus nulla varius. Nunc quis mollis nunc. Cras eu dignissim nisl. Ut tempor gravida eleifend. Nunc volutpat diam nec purus faucibus lobortis.
            </div>
            <img src="{{ asset('images/troisieme.png') }}" alt="" />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>